# shortener database
SHORTENER_DB=
SHORTENER_DB_USERNAME=
SHORTENER_DB_PASSWORD=

# analytics database
ANALYTICS_DB=
ANALYTICS_DB_USERNAME=
ANALYTICS_DB_PASSWORD=

# grafana
GRAFANA_USER=
GRAFANA_PASSWORD=